doctype html
html
    head
        //- title= pageTitle
        //- link(href="./static/css/common.css")
        //- link(href="./static/css/index.css")
        //- script(src='./static/js/index.js')
    body
        div crazy.zhou's blog made by jade.